<div id="main">
  	<div>
	<div class="display">
		<br>
		<div class="underline"></div>
		<h1>EECS 351 Final Project</h1>
		<div class="underline"></div>
		<h2>Image Processing & Cross-stitch Patterns</h2>

		<h3 class="names">Gabrielle Guarino, Seth Perrin, & Drew Hanley</h3>

		<img class="center" src="http://i67.tinypic.com/t85afk.jpg">

		<p class="caption">
			An example cross-stitch pattern made using our program.<br>
			This cross-stitch had a height and width of 8 inches and a fabric count of 12.
		</p>
		<br>
		<div class="underline"></div>
		<p>
			Our cross-stitch generator takes in an image as input, the desired height and width of your cross-stitch, your fabric count, and the number of colors you want displayed. It outputs a cross-stitch pattern corresponding with these inputs. <br><br>
		</p>
		<div class="underline"></div>
		<p class="caption"><br>Please email me at gguarino@umich.edu if you any questions/concerns.</p>
	</div>
	<br><br>
	</div> 
</div>   




