<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="../static/css/stylesheet.css"/>
      <title>Cross-stitch project</title>
      <script src="../static/js/lib/jquery.js"></script>
      <script src="../static/js/script.js"></script>
      <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >
    </head>
  <body>
    <br>
    <div class="buttons" align="center">
        <div class="button">
          <a class="button" href="#" id="home-click">Home</a>
        </div>
        <div class="empty"></div>
        <div class="button project-button">
          <a class="button" href="#" id="project-click">Create!</a>
        </div>
        <div class="empty"></div>
        <div class="button documentation-button">
          <a class="button" href="#" id="docs-click">Documentation</a>
        </div>
        <div class="empty"></div>
        <div class="button">
          <a class="button" href="#" id="info-click"/>Info</a>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <div id="main">

    </div>   
    <br><br><br><br><br><br><br><br>
  </body>
</html>



